/* https://raw.githubusercontent.com/sindresorhus/github-markdown-css/main/github-markdown.css */
@import url("https://cdn.jsdelivr.net/gh/vsalvino/computer-modern@main/fonts/serif.css");
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap"); */
@counter-style decimal-parentheses {
    system: extends decimal;
    prefix: "(";
    suffix: ") ";
}
@counter-style lower-alpha-parentheses {
    system: extends lower-alpha;
    prefix: "(";
    suffix: ") ";
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #0d1117;
    }
    .github-markdown-body img {
        background-color: transparent;
        filter: invert() opacity(0.9);
    }
}
.github-markdown-body {
    font-size: 12pt;
    font-family: "Computer Modern Serif", "Times New Roman", Times, Baskerville,
        Georgia, "SimSun", "Source Han Serif SC", "STSong", "Noto Serif SC",
        serif;
    max-width: 8in;
    margin: 0.5in auto;
    padding-left: 0.25in;
    padding-right: 0.25in;
    line-height: 1.25em;
}
.github-markdown-body h1 {
    counter-reset: headings2 headings3 figure-counter table-counter;
}
.github-markdown-body h2::before {
    content: counter(headings2) " ";
    counter-increment: headings2;
    margin-right: 0.5em;
}
.github-markdown-body h2 {
    counter-reset: headings3;
}
.github-markdown-body h3:before {
    content: counter(headings2) "." counter(headings3) " ";
    counter-increment: headings3;
    margin-right: 0.5em;
}
.github-markdown-body h3 {
    counter-reset: headings4;
}
.github-markdown-body h4:before {
    content: counter(headings2) "." counter(headings3) "." counter(headings4)
        " ";
    counter-increment: headings4;
    margin-right: 0.5em;
}
.github-markdown-body figcaption::before {
    content: "Figure " counter(figure-counter) ": ";
    counter-increment: figure-counter;
}
.github-markdown-body .table-caption::before {
    content: "Table " counter(table-counter) ": ";
    counter-increment: table-counter;
}
.github-markdown-body .non-numbered::before {
    content: none;
    counter-increment: none;
}
.github-markdown-body img {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
.github-markdown-body figcaption {
    font-size: 0.875em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1em;
}
.github-markdown-body figcaption + table {
    margin-top: 8px;
}
.github-markdown-body .katex {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1em;
}
.github-markdown-body .katex p{
    text-indent: 0em;
}
.github-markdown-body p {
    text-indent: 1em;
    text-align: justify;
    margin-bottom: 0;
}
.github-markdown-body hr {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 8px;
}
.github-markdown-body h1 {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.github-markdown-body h2 {
    font-size: 1em;
    padding-bottom: 0;
    border-bottom: 0;
}
.github-markdown-body h3 {
    font-size: 1em;
    padding-bottom: 0;
    border-bottom: 0;
}
.github-markdown-body h4 {
    font-size: 1em;
    padding-bottom: 0;
    border-bottom: 0;
}
.github-markdown-body li {
    margin-top: 0em;
    margin-bottom: 0em;
}
.github-markdown-body li p {
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.github-markdown-body li + li {
    margin-top: 0em;
}
.github-markdown-body ul {
    list-style-type: disc;
}
.github-markdown-body ol ol,
.github-markdown-body ul ol {
    list-style-type: decimal-parentheses;
}
.github-markdown-body ul ul ol,
.github-markdown-body ul ol ol,
.github-markdown-body ol ul ol,
.github-markdown-body ol ol ol {
    list-style-type: lower-alpha-parentheses;
}
.github-markdown-body table {
    font-size: 0.875em;
    padding: 0;
    margin: 16px auto;
    width: max-content;
    max-width: 100%;
    position: relative;
    overflow: visible;
}
.github-markdown-body table tr,
.github-markdown-body table tr:nth-child(2n) {
    background-color: transparent;
    border: 0;
}
.github-markdown-body table th,
.github-markdown-body table td {
    background-color: transparent;
    border: 0;
    padding: 2px 16px;
}
.github-markdown-body table th:first-child,
.github-markdown-body table td:first-child {
    padding-left: 24px;
}
.github-markdown-body table th:last-child,
.github-markdown-body table td:last-child {
    padding-right: 24px;
}
.github-markdown-body hr,
.github-markdown-body table thead,
.github-markdown-body table tbody {
    position: relative;
}
.github-markdown-body hr::after,
.github-markdown-body table::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    transform: scaleY(0.5);
    transform-origin: top;
}
.github-markdown-body hr::after {
    border-top: 3px solid var(--color-fg-default);
    top: 0;
}
.github-markdown-body table::after {
    border-top: 3px solid var(--color-fg-default);
    border-bottom: 3px solid var(--color-fg-default);
    top: -3px;
}
.github-markdown-body table thead tr:last-child {
    border-bottom: 1px solid var(--color-fg-default);
}
.github-markdown-body code {
    border-radius: 0%;
    background-color: #adadad20
}
